.won {
  font-size: 14px;
  color: #000;
}

main .container {width: 100%;font-family: 'Noto Sans KR';  margin: 0 auto; display: block;}
main .container .main_vis{width: 100%;}
main .container .main_img {width: 100%; position: relative;}
.main_img .mySwiper { width: 100%; height:100%;}
main .container .main_img .mySwiper .swiper-slide>img {display: block;width: 100%;height: 100%;object-fit: contain;}

/* 메인 이미지 화살표 */
.main_img .mySwiper .swiper-button-prev:after {
  line-height: 1;
  font-family: swiper-icons;
  font-size: 20px;
  top: 50%;
  left: 130px;
  position: absolute;
  color: #0054a6;
  transform: translatey(-50%);
}

.main_img .mySwiper .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 20px;
  text-transform: unset;
  letter-spacing: 0;
  position: absolute;
  right: 130px;
  text-transform: none;
  color: #0054a6;
}

.main_img .swiper-pagination {left: 50%; transform: translateX(-50%);z-index: 2;background-color: #fff; color: #0054a6;
  position: absolute;bottom: 30px; height: 3px; width: 600px;}

/* 투데이 세일 영역 */
.ts {width: 100%; box-sizing: border-box; padding: 100px 130px;text-align: left;margin: 0 auto;}

.ts .ts_inner {
  max-width: 1660px;
  min-width: 1040px;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f9fbfc;
  overflow: hidden;
}

.ts_left {
  float: left;
  font-size: 14px;
  display: inline-block;
  width: calc((100%)/3);
  position: relative;
}

.ts_left:first-child {
  padding-top: 45px;
}

.ts_left:last-child {
  padding: 4%;
  box-sizing: border-box;
}

.ts_left .prd_img {
  width: 100%;
}

.area_title {
  font-size: 48px;
}

.today_txtp {
  font-size: 24px;
  margin: 10px auto;
  display: block;
}

.today_txtp.p {
  margin-top: 30px;
}

.today_txtp.a {
  display: inline-block;
  margin-right: 15px;
}

.ts_prd {
  display: block;
  margin: 30px 0 10px 0;
  font-weight: bold;
}

.star_img {
  display: block;
  width: 76px;
  height: 12px;
  margin: 15px 0px 73px 0px;
}

.ts_left .date {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
}

.txt_16 {
  font-size: 16px;
  display: block;
}

.txt_16.line_thr {
  font-size: 16px;
  color: #979797;
  text-decoration: line-through;
}

.countdown-timer-wrapper {
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 300px;
  margin: 50px auto;
}

.countdown-timer-wrapper h5 {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: left;
  padding-top: 10px;
  text-shadow: none;
}

.countdown-timer-wrapper .timer {
  padding: 10px;
  text-align: left;
  padding-top: 15px;
}

.countdown-timer-wrapper .text {
  margin-top: 20px;
  display: inline-block;
}

.countdown-timer-wrapper .timer .timer-wrapper {
  display: inline-block;
  width: 60px;
}

.countdown-timer-wrapper .timer .timer-wrapper .time {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.countdown-timer-wrapper .timer .timer-wrapper .text {
  font-size: 15px;
  display: inline-block;
  padding: 20px;
  color: #000;
}

/* 타임세일  */
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.timer {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  text-align: left;
}

.timer .timer-wrapper {
  display: inline-block;
  width: 100px;
  height: 50px;
}

.timer .timer-wrapper:first-child {
  display: none;
}

.timer .timer-wrapper .time {
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
}

.timer .timer-wrapper>.text {
  text-align: center;
  font-size: 20px;
}

.time_1 {
  margin: 10px auto 40px;
  font-size: 60px;
}

.br_sp {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.ts_left .round50 {
  position: absolute;
  top: 5%;
  padding: 23px 0;
  border: 1px solid #0054a6;
  border-radius: 50%;
  right: 85px;
  width: 67px;
  height: 67px;
  text-align: center;
}

.round50 .round50_p {
  font-size: 24px;
  font-weight: bold;
  color: #0054a6;
  display: inline-block;
  line-height: 20px;
}

.won {
  font-size: 14px;
}

/* best area  */
.best{width: 100%;  background-color: #f7f7f7;}

.best_bg {
  display: block;
  margin: 0 auto;
}

.best_bg .best1660 {
    max-width: 1600px;
  display: block;
  margin: 0 auto;
  padding-bottom: 75px;
  position: relative;
}

.bg_tit {
  display: block;
  text-align: center;
  font-size: 40px;
  padding: 100px 0 50px 0;
}

.best_bg .mySwiper {
  display: block;
  text-align: left;
  width: 100%;
}

.best_bg .mySwiper .swiper-wrapper {
  width: 1490px;
}

.best_bg .mySwiper .swiper-wrapper .swiper-slide {
  width: 350px;
  margin-right: 30px;
  display: inline-block;
}

.best_bg .mySwiper .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}

.best_bg .mySwiper .swiper-wrapper .swiper-slide>img {
  width: 100%;
  display: block;
}

.best_bg .mySwiper .swiper-wrapper .swiper-slide .best_area {
  margin-bottom: 39px;
}

.best_bg .mySwiper .swiper-wrapper .swiper-slide .prd_name {
  margin-bottom: 17px;
  font-size: 16px;
  display: inline-block;
}

.best_bg .mySwiper .swiper-wrapper .swiper-slide .prd_txt {
  font-size: 15.89px;
  color: #c1c1c1;
  display: block;
  margin-bottom: 20px;
  text-decoration: line-through;
}

.best_bg .mySwiper .swiper-slide .nine {
  display: inline-block;
  font-size: 24px;
  margin-right: 15px;
}

.best_bg .best1660 .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.best_bg .best1660 .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.best_bg .best1660 .swiper-button-next:after,
.best_bg .best1660 .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 20px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  color: #000;
  width: 12px;
  height: 20px;
}

.best_bg .swiper-slide.swiper-slide-duplicate.swiper-slide-duplicate-active {
  width: 1400px;
  display: block;
}

.best_bg .swiper-slide {
  width: unset;
}

/* md area */
.md {
    max-width: 1600px;
  width: 1005;
  padding: 80px 85px 100px 85px;
  margin: 0 auto 100px;
  color: #000;
  position: relative;
  overflow: hidden;
  height: 710px;
}

.md .md_txt {margin-top: 60px;
  float: left;
  text-align: left; 
}

.md_em {
  display: block;
  font-size: 40px;
}

.md_p {
  font-size: 24px;
  margin: 20px 0;
}

.md .md_prd {
  float: right;
  margin: 0 auto;
  width: 1111px;
  text-align: left;
}

.md_prd .mySwiper {
  width: 100%;
  display: flex;
}

.md_prd .mySwiper .swiper-wrapper {
  margin: 30px auto 45px;
}

.md_prd .mySwiper .swiper-wrapper .swiper-slide {
  width: 350px;
}

.md_prd .best_area {
  width: 350px;
  height: 350px;
}

.md_prd .swiper-slide .prd_name {
  margin: 17px 0;
  font-size: 16px;
  display: inline-block;
}

.md_st:first-child {
  margin-left: 10px;
  display: inline-block;
}

.best_txt_sp {
  font-size: 16px;
  color: #888888;
  margin: 0 0px 30px 0px;
  display: block;
}

.md_prd .swiper-slide .prd_txt {
  font-size: 15.89px;
  color: #c1c1c1;
  display: block;
  margin: 15px 0;
  text-decoration: line-through;
}

.md_prd .swiper-slide .nine {
  display: inline-block;
  font-size: 24px;
}

.md_prd .swiper-slide .won {
  font-size: 14px;
  display: inline-block;
}

.md_prd .swiper-scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eeeeee;
  width: 100%;
  height: 5px;
}

.md_prd .swiper-scrollbar-drag {
  background-color: #222222;
}

/* 페이스 워시 영역 */
.face_wrap{width: 100%;background-color: #f7f7f7;}
.face_inner {margin: 0 auto;    max-width: 1600px;}

.face {
  padding: 100px 85px;
  margin: 0 auto;
  overflow: hidden;
}

.face .fc {
  width: 50%;
  display: inline-block;
  overflow: hidden;
}

.face .fc.left {
  float: left;
}

.face .fc.right {
  float: right;
  padding-left: 60px;
}

.fc.left>img {
  width: 745px;
}


.fc.right .fc_p {
  margin-bottom: 25px;
  font-size: 18px;
  color: #6666;
  display: block;
}

.fc.right .fc_em {
  font-size: 40px;
  display: block;
  color: #000;
  margin: 30px 0;
}

.fc.right>ul {
  display: inline-block;
  margin-bottom: 50px;
}

.fc.right>ul>li {
  font-size: 12px;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #000;
  margin-right: 20px;
  border-radius: 30px;
}

.fc.right>ul>li:last-child {
  margin-right: 0;
}

.fc.right .swiper {
  background-color: #fff;
  padding-top: 30px;
  height: 250px;
  position: relative;
}

.fc.right .swiper-slide {
  width: 100%;
  overflow: hidden;
}

.fc.right .swiper-slide .prdimg {
  float: left;
  width: 50%;
  padding-left: 30px;
}

.fc.right .swiper-slide .prdimg>img {
  width: 190px;
}

.fc.right .swiper-slide .facewash_txt {
  float: right;
  padding: 15px 0;
  width: 50%;
}

.fc.right .swiper-button-next::after {
  right: 0%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 12px;
}

.fc.right .swiper-button-prev::after {
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  color: #000;
}

.prd_if_em {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 17px;
}

.prd_icon {
  position: absolute;
  top: 0;
  right: 5%;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 30px;
  padding-top: 15px;
}

.prd_if_p {
  display: block;
  font-size: 16px;
  color: #6666;
  margin-bottom: 30px;
}

.prd_txt {
  color: #979797;
  font-size: 15px;
  text-decoration: line-through;
  margin-bottom: 17px;
  display: inline-block;
}

.nine {
  font-size: 24px;
  display: inline-block;
}

.nine.fc {
  display: block;
}

.won {
  font-size: 14px;
}

/* 리뷰영역 */
.review {
  padding: 100px 0 0 0;
  margin: 0 auto;
  max-width: 1600px;
    width: 100%;
}

.review .rv_tit {
  width: 100%;
  text-align: center;
}

.review .rv_tit .rv_em {
  font-size: 40px;
  display: inline-block;
}

.rv_main {
  padding: 50px 0 100px 0;
  overflow: hidden;
  margin: 0 auto;
}

.rv_text .rv_p_tit {
  font-size: 20px;
  margin: 30px 0 20px 0;
}

.rv_text .rv_p_span {
  font-size: 14px;
  color: #888888;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: inline-block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.rv_img {
  display: inline-block;
}

.rv_img>img {
  width: 350px;
}

.review .rv_main .rv_prd {
  display: inline-block;
  width: 25%;
  padding-right: 30px;
  float: left;
}

.prd_detail {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

.det_img {
  width: 160px;
  height: 190px;
  float: left;
  width: 50%;
}

.det_img>img {
  width: 100%;
  display: block;
}

.det_txt {
  float: right;
  width: 50%;
  padding: 0 10px;
  height: 160px;
}

.det_txt>span {
  display: inline-block;
}

.det_txt .prd_n {
  font-size: 14px;
  color: #6666;
  font-weight: bold;
  line-height: 22px;
}

.det_txt .Prd_d {
  font-size: 14px;
  color: #9999;
  line-height: 22px;
}

.det_txt .price {
  font-size: 12px;
  color: #222;
  display: block;
}

.star_img {
  margin: 12px 0;
  display: block;
}

.star_img.a {
  margin: 17px 0 65px 0;
}

/* flw 영역  */
.flw_wrap{width: 100%;  background-color: #f9fbfc; border-top: 1px solid #eaeaea;  border-bottom: 1px solid #eaeaea;}
.flw {margin: 0 auto; max-width: 1920px; padding: 100px 22px; text-align: center;display: block;}

.flw .flw_tit {width: 100%;color: #000;text-align: center;margin: 0 auto 60px;}

.flw .flw__em {
  display: block;
  font-size: 40px;
  margin-bottom: 40px;
}

.flw .flw__p {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.flw .flw_img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.flw .flw_img .flw__ul {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.flw .flw_img .flw__ul li {
    float: left;
    width: 18%;
    margin-right: 2%;
}

.flw .flw_img .flw__ul li:last-child {
  margin-right: 0;
}

.flw .flw_img .flw__ul li>img {
  width: 100%;
}
